#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        home {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp F         &kp P  &kp G      &kp J      &kp L  &kp U          &kp Y       &kp SEMICOLON  &kp BACKSPACE
&kp LEFT_SHIFT  &kp A  &kp R  &kp S         &kp T  &kp D      &kp H      &kp N  &kp E          &kp I       &kp O          &kp RIGHT_SHIFT
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V  &kp B      &kp K      &kp M  &kp COMMA      &kp PERIOD  &kp SLASH      &kp RCTRL
                              &kp LEFT_GUI  &mo 1  &kp RET    &kp SPACE  &mo 2  &kp RIGHT_ALT
            >;
        };

        lower_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};